## Concatenating Data

In [1]:
import pandas as pd
import os

In [2]:
tw1 = pd.read_csv("./data/tweet-01.csv")
tw2 = pd.read_csv("./data/tweet-02.csv")
tw3 = pd.read_csv("./data/tweet-03.csv")
tw4 = pd.read_csv("./data/tweet-04.csv")
tw5 = pd.read_csv("./data/tweet-05.csv")
tw6 = pd.read_csv("./data/tweet-06.csv")
tw7 = pd.read_csv("./data/tweet-07.csv")
tw8 = pd.read_csv("./data/tweet-08.csv")

tw9_1 = pd.read_csv("./data/tweet-09-05-01.csv")
tw9_2 = pd.read_csv("./data/tweet-09-07-04.csv")
tw9_3 = pd.read_csv("./data/tweet-09-10-06.csv")
tw9_4 = pd.read_csv("./data/tweet-09-30-09.csv")

tw9 = pd.concat([tw9_1, tw9_2, tw9_3, tw9_4])

tw10 = pd.read_csv("./data/tweet-10.csv")
tw11 = pd.read_csv("./data/tweet-11.csv")
tw12 = pd.read_csv("./data/tweet-12.csv")

tw10_11 = pd.concat([tw10, tw11])
tw10_11 = tw10_11.drop_duplicates()
# tw10_11[tw10_11.duplicated(keep=False)].sort_values('id')
tw10_12 = pd.concat([tw10_11, tw12])
tw10_12 = tw10_12.drop_duplicates()
# tw10_12[tw10_12.duplicated(keep=False)].sort_values('id')
tw9 = tw9.drop_duplicates()
# tw9[tw9.duplicated(keep=False)].sort_values('id')
tw9_12 = pd.concat([tw9, tw10_12])
tw9_12 = tw9_12.drop_duplicates()
tw9_12[tw9_12.duplicated(keep=False)].sort_values('id')

Empty DataFrame
Columns: [id, name, username, date, reply_to, content, reply, retweet, like]
Index: []

In [3]:
df = pd.concat([tw1, tw2, tw3, tw4, tw5, tw6, tw7, tw8, tw9_12])
df = df.drop_duplicates()
df[df.duplicated(keep=False)].sort_values('id')

Empty DataFrame
Columns: [id, name, username, date, reply_to, content, reply, retweet, like]
Index: []

In [4]:
df = df.reset_index()
df.shape

(13958, 10)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13958 entries, 0 to 13957
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     13958 non-null  int64
 1   id        13958 non-null  object
 2   name      13883 non-null  object
 3   username  13852 non-null  object
 4   date      13957 non-null  object
 5   reply_to  7257 non-null   object
 6   content   13957 non-null  object
 7   reply     5569 non-null   float64
 8   retweet   3196 non-null   object
 9   like      5826 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [6]:
df.describe()

              index        reply
count  13958.000000  5569.000000
mean     640.459235     3.160532
std      532.486864    14.381742
min        0.000000     1.000000
25%      233.000000     1.000000
50%      472.000000     1.000000
75%      916.000000     2.000000
max     2446.000000   396.000000

## Cleaning

### name

In [7]:
pd.set_option("display.max_colwidth", 140) # to set the column width of the table output
df[['name', 'username', 'content']][df.name.isna()].head(20)

,name,username,content
148,NaN,@terketahui,"tapi..salut dah sm org kristen/katholik..ada yang beda gini yg sesat mereka diem aja, maksudnya cukup kasih tau. coba islam wkwk syiah a..."
168,NaN,@pite_ishak,"ahmadiyah tolol, Nabi Isa AS di turun, nyet. bukan dilahir saat balik ke dunia. Si Ghulam tolol itu cm ngaku2, yg beginian lu percaya wk..."
308,NaN,@oposananonim,Wuuiiihh ayat perang pd masa nabi berjihad mau di cap kan sbgai dalil nya HRS...asbabun Nuzul nya sdh pernah di pelajari kah..???..soal ...
369,NaN,@milliongs,"indonesia is not actually lgbt friendly but trust me they persecuted more antek pki, ahmadiyah, dan kafir than gays"
1428,NaN,@alfiarnimakhtaf,"Indonesia lulus jadi negara demokrasi, toleran dan dewasa dlm beragama kalau masjid2 kaum syiah dan ahmadiyah sudah dibuka. Temlen udah ..."
1540,NaN,@alfiarnimakhtaf,"Faktanya belum terjadi begitu. Masih normatif. Muslim syiah, ahmadiyah samsek blm menikmati kebebasan. Bahkan sy perhatikan justeru se..."
1637,NaN,@josephbachsin,"Maka sebagai sesama saudara muslim dan muslimah, menghentikan pemikiran dan tindakan sesat seperti ini adalah tanggung jawab kita sebaga..."
1748,NaN,@ferr9ro,"Ahmadiyah movement moving bare brave these days, they'll know about when the real Messiah comes"
1817,NaN,@_butet_harahap,"Perang saudara Ambon, terjadi di jaman Habibie, mbak. Bertahun-tahun karena \n@DivHumas_Polri\n dan \n@Puspen_TNI\n ikut bertikai.\n\nPe..."
1855,NaN,@kurootsukkl,gw ahmadiyah lu jangan pitnah
1955,NaN,@iyasss___,"MuAh Mu, Ahmadiyah."
2386,NaN,@Abu_Hafiiz,Ya kalo udah ngaku punya nabi stlh Rasulullah udah jelas sesatny....\n\nKalo syiah kan taqiyah trs...ngaku Islam tp mncela banyak sahaba...
2517,NaN,@radowelt,btw ngebuzzer di israel ada orang islam arab sih biasa banget. tau ga di israel ada kota haifa pusatnya komunitas ahmadiyah & agama baha...
3270,NaN,@solechan_talk,"Masalahnya om, ahmadiyah itu bukan agama sendiri dan diakui pemerintah, tp mengaku islam dengan ajaran yg tidak sesuai Quran dan hadists..."
3271,NaN,@solechan_talk,"Dari dulu ga ada yg bisa nangkap poin ini, tp selalu menonjolkan prulalisme, kecuali kalo ahmadiyah declare sbg agama sendiri dan diakui..."
3448,NaN,@alfiarnimakhtaf,"Jangan ngarep palestina bisa bebas dari penjajahan, selama umat muslim masih mengkafirkan kaum syiah dan ahmadiyah seenak bacotnya, dan..."
3451,NaN,@alfiarnimakhtaf,"Kaga usah sok2an musingin palestina, yg deket2 aja dulu tengok; muslim syiah dan ahmadiyah yang dikafirkan, hidup dipengungsian di nega..."
4050,NaN,@prplee3to3,Astaghfirullah baru tau yg Ahmadiyah
4298,NaN,@HirmanF,"Mau nanya .\nJiL,syiah ,Ahmadiyah mana yg paling melenceng ?"
4361,NaN,@roysamudro,Suneo Rachel Ciuman Olin Zara #SedekatSahabat \n32 GB Jonatan Christie Ginting Rans Indosiar Ngilu The Daddies Ahmadiyah Ridho Ginting M...

### username

In [8]:
df[['name', 'username', 'content']][df.username.isna()].head(20)

,name,username,content
1164,RAKYAT BERSATU MELAWAN KOMUNIS IMPERIALIS,NaN,"2005 2008 ketika ahmadiyah jadi wayang , dia ada bersamaan."
1511,Anti Feodalism Aparteid Unfairness Racism Ibn Xine,NaN,"Ya benar saya selalu tertarik dan belajar Syiah, LDII, Ahmadiyah kalau tidak, tidak tahu mereka. Apalagi Islam liberal. Lebih merusak la..."
1552,Anti Feodalism Aparteid Unfairness Racism Ibn Xine,NaN,"Jadi yang direkrut untuk melawan umat Islam dan memusnahkan ajaran Islam itu JIL, Syiah, LDII, Ahmadiyah, semua dengan jelas diketahui u..."
1629,Agama Kepercayaan Adat Nusantara (GBMYLKSKVXYWQ),NaN,"(KTP).\n\nKiai asal Tasikmalaya, Jawa Barat ini ini mencontohkan JAI (Jemaah Ahmadiyah Indonesia) yang kebetulan banyak penganutnya di K..."
1874,Buzzer NKRI HABBUL WATHON MINAL IMAN,NaN,Munarman woii Ahmadiyah pihak yg terzolimi loe bela tidak?
2091,Gerombolan BAJINGAN Tengik...,NaN,Macam hapal aja ente sama Alfateha...sok2an doain aliran sesat Ahmadiyah...
2497,Anaknya Odin garis gak lucu,NaN,Yang lebih parah kondisinya Ahmadiyah. Mereka disuruh bikin agama sendiri
2498,DANTALION DUSKY PRAYER LETTER,NaN,"Ya beda nasib dgn nabi ahmadiyah dibuatkan sanctuary & dakwahnya difasilitasi inggris, syiah akidahnya sesat tapi gak ada yg tertarik bu..."
2501,Agama Kepercayaan Adat Nusantara (GBMYLKSKVXYWQ),NaN,"Belum lagi yang syiah & ahmadiyah yang dianggap bukan islam , belum lagi juga para penghayat kepercayaan pada mau ganti status islam di ..."
2502,Anaknya Odin garis gak lucu,NaN,"Sunni : Syiah bukan Islam\nSyiah : Sunni bukan Islam\nSunni&Syiah : Ahmadiyah bikin agama sendiri saja, jangan nempel Islam\nSalafi : Sy..."
2505,Anaknya Odin garis gak lucu,NaN,"Kata kadrun, ""saudara muslim itu bagai satu tubuh,"" prett. Buktinya masih persekusi Ahmadiyah. Padahal Tuhannya sama, nabinya juga sama,..."
2520,Aphrodite Celestamine Prune,NaN,"kl yg belum punya agama.silahkam eksplorasi apa mau islam, kristen, budha, hindu, syiah atau ahmadiyah atau apa terserah dan gak usah di..."
2522,Aphrodite Celestamine Prune,NaN,"intinya org gak akan bersepakat di hal2 yy gak bener ,logika dan akal sehatnya demikian. org udah punya pilihan agama dipaksa pindsh ke ..."
2689,Aphrodite Celestamine Prune,NaN,"ada koruptor, sipilis, islamohobia, kristenisasi, pki, syiah, ahmadiyah, kebodohan, asusila, amoral ibarat tubuh banyak oenyakit penyert..."
2694,Kertaradjasa Jayawardhana,NaN,Silakan minta legitimasi kepada MUI. Dan buat pernyataan kalau Ahmadiyah tidak sesat.
2727,Kertaradjasa Jayawardhana,NaN,Ahmadiyah sama saja dengan Syiah. Sama-sama taqiyah dan ngeyel.
2740,Ujeng yg bangga dg 75 follower,NaN,"Satu pertanyaan lagi, kenapa Khalifah Ahmadiyah memakai ""Sir"" didepan namanya ?"
2741,Ujeng yg bangga dg 75 follower,NaN,"Kami hanya memiliki sikap, jika Ahmadiyah tetap mengatakan pendirinya atau siapapun sebagai Nabi Penerus/Imam Mahdi, maka Ahmadiyah bera..."
2743,Kertaradjasa Jayawardhana,NaN,"Ahmadiyah kan sesat\nAkidahnya pantas ""dihajar"""
2762,Ujeng yg bangga dg 75 follower,NaN,Islam kenapa ngaku ahmadiyah atau Islam Ahmadiyah ??\nBedanya prinsipil nya dimana ?

In [13]:
df[['name', 'username', 'content']][df.username.isna() & df.name.isna()]

Empty DataFrame
Columns: [name, username, content]
Index: []

No sample with null value in both name & username. Let's fill username with name and vice versa

In [17]:
df.name.fillna(df['username'][df.name.isna()], inplace=True)
df[['name', 'username', 'content']][df.index == 148]

,name,username,content
148,@terketahui,@terketahui,"tapi..salut dah sm org kristen/katholik..ada yang beda gini yg sesat mereka diem aja, maksudnya cukup kasih tau. coba islam wkwk syiah a..."

In [18]:
df.username.fillna(df['name'][df.username.isna()], inplace=True)
df[['name', 'username', 'content']][df.index == 1164]

,name,username,content
1164,RAKYAT BERSATU MELAWAN KOMUNIS IMPERIALIS,RAKYAT BERSATU MELAWAN KOMUNIS IMPERIALIS,"2005 2008 ketika ahmadiyah jadi wayang , dia ada bersamaan."

### Date

In [9]:
df[['name', 'username', 'content', 'date']][df.date.isna()]

,name,username,content,date
2813,Taylor Nieman,@Taylor_Nieman,Now you can learn a language just by reading your favorite websites.,NaN

The tweet with nan value in date is an advertisement. Let's drop it

In [11]:
df.dropna(subset='date', inplace=True)

Empty DataFrame
Columns: [name, username, content, date]
Index: []

,index,id,name,username,date,reply_to,content,reply,retweet,like
0,0,DedenSujanaFeb12021Simak b,Deden Sujana,@dedensujana,"Feb 1, 2021",NaN,Simak bagaimana sikap Khilafah Ahmadiyah terhadap Pancasila dan Demokrasi dalam link di bawah ini :\n@Iskandargumay1,NaN,1.0,2
1,1,MuridIslamAhmadiyahFeb12021nah say,MuridIslamAhmadiyah,@MAhmadiyah,"Feb 1, 2021",@akbarnugrohoa,"nah saya ulang ya. silahkan temukan pernyataan dari Ahmadiyah langsung, bahwa nabi terakhir/penutup adala Ghulam Ahmad.",1.0,NaN,NaN
2,2,risrisismanFeb12021Sebenar,risris isman,@risrisus,"Feb 1, 2021",@susipudjiastuti,"Sebenarnya mengomentari \n@permadiaktivis1\n lebih politis dari pada bicara HAM, mana berani para politikus menaggapi apalagi bersuara l...",NaN,NaN,1
3,3,MuridIslamAhmadiyahJan312021adakah,MuridIslamAhmadiyah,@MAhmadiyah,"Jan 31, 2021",@akbarnugrohoa,adakah pernyataan dari Ahmadiyah bahwa nabi penutup adalah Bukan Muhammad melainkan Mirza Ghulam Ahmad? silahkan tunjukan disini,NaN,NaN,NaN
4,4,MuridIslamAhmadiyahJan312021itu vid,MuridIslamAhmadiyah,@MAhmadiyah,"Jan 31, 2021",@akbarnugrohoa,"itu video udh video udh menjelaskan penafsiran ahmadiyah soal Al-Azhab : 40 , malah dibilang ga bisa jelasin ok kalau ada pertanyaan soa...",1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
13953,451,Beritabaru.coDec12021FBTI Ta,Beritabaru.co,@Beritabaruco,"Dec 1, 2021",NaN,FBTI Tasikmalaya Gelar Kemah Toleransi Demi Membuka Ruang Diskusi http://dlvr.it/SDWzSp #Ahmadiyah #forumbhinnekatunggalika #kemahtoleransi,NaN,NaN,NaN
13954,452,KETTLERDec12021Tuhanny,KETTLER,@inong911,"Dec 1, 2021",@AlloEfrat,Tuhannya Islam satu Tuhannya Yahudi satu Tuhannya Kristen 1 Tuhannya Budha satu Tuhannya Hindu satu Tuhannya Konghucu satu Tuhannya Ahma...,1.0,NaN,NaN
13955,453,KETTLERDec12021Tuhanny,KETTLER,@inong911,"Dec 1, 2021",@AriaDinataK1,Tuhannya Islam satu Tuhannya Yahudi satu Tuhannya Kristen 1 Tuhannya Budha satu Tuhannya Hindu satu Tuhannya Konghucu satu Tuhannya Ahma...,NaN,1.0,NaN
13956,454,EkajuwaDec12021#IslamM,Ekajuwa,@ekajuwa,"Dec 1, 2021",NaN,"#IslamMempersatukanKita Kata Siapa? Rosul sendiri menyatakan Islam akan terpecah mjd berapa bagian. Itu terbukti dgn adanya Sunni, Syiah...",NaN,1.0,NaN
13957,456,NugrohoAdinegoroDec12021tah ben,Nugroho Adinegoro,@kangnugo85,"Dec 1, 2021",@nuke168,tah bener 7 masjid weh nya\n1. Masjid agung alun2\n2. Masjid Persis\n3. Masjid NU\n4. Masjid Muhammadiyah\n5. Masjid pks\n6. Masjid waha...,1.0,NaN,1.0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13957 entries, 0 to 13957
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     13957 non-null  int64
 1   id        13957 non-null  object
 2   name      13957 non-null  object
 3   username  13957 non-null  object
 4   date      13957 non-null  object
 5   reply_to  7257 non-null   object
 6   content   13956 non-null  object
 7   reply     5568 non-null   float64
 8   retweet   3195 non-null   object
 9   like      5825 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.2+ MB